
.centrado{
    text-align: center;
}
.subrayado{
    text-decoration:underline;
}

.linea{
    border-bottom: 2px solid black;
    display: inline-block;
    padding-bottom: 4px;
    margin: 0 auto;
}

.espaciador{
    margin: 50px;
}
li a{
    text-decoration: none;
    color: inherit;
}
.rojo{
    color: red;
}

.imagen1{
   max-width: 80%;
   object-fit: cover;
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .imagen1 {
      max-width: 100%;
    }
  }

p {
    line-height: 1.6; /* mejora el espaciado entre líneas */
    word-break: break-word; /* para que no se desborde en móviles */
    text-align: justify;
  }


/*BOTONES DE PIE DE PAGINA */

  .navegacion-botones {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 3rem;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .navegacion-botones button {
    flex: 1 1 auto;
    max-width: 48%;
  }

  @media (max-width: 600px) {
    .navegacion-botones {
      flex-direction: column;
      align-items: stretch;
    }

    .navegacion-botones button {
      max-width: 100%;
    }
  }